*, ::before, ::after{
padding: 0;
margin: 0;
}

:root{
--boxes: #1BA098;
--header-footer: #051622;
--base-color: #051622;

--light-text: #e6e2ddd2;
--dark-text: #051622;
--accent-text: #1BA098;
--stand-out-text: #DEB992;
}

body{
background-color: var(--base-color);
font-size: 20px;
font-family: "Cormorant Garamond", serif;
letter-spacing: 0.05em;
color: var(--light-text);
line-height: 1.3;
}

main{
margin: 130px 30px 30px 30px;
overflow: hidden;
}

/* HEADER AND NAVBAR STYLES */
.header{
position: fixed;
top: 0px;
width: 100%;
background-color: var(--header-footer);
z-index: 10;
}
#navbar{
display: grid;
grid-template-columns: 1fr 1fr;
width: 100vw;
margin: 0 10px;
padding: 30px;

}
#navbar > ul{
display: flex;
align-items: center;
justify-content: flex-start;
width: 100%;
}
#navbar li{
list-style-type: none;
}
#navbar a{
border: 1px solid var(--base-color);
text-decoration: none;
color: var(--accent-text);
font-family: Comfortaa, sans-serif;
padding: 5px;
margin: 0 10px;
}
#navbar a:hover, footer i:hover{
border: 1px solid var(--accent-text);
border-radius: 5px;
}
#navbar a:active, footer i:active{
background-color: var(--accent-text);
opacity: 0.5;
color: var(--base-color);
}
h1{
text-align: left;
font-family: Aboreto, sans-serif;
font-size: 250%;
color: var(--stand-out-text);
}


/*INTRODUCTION*/
.main-grid{
display: grid;
grid-template-columns: 2fr 1fr;
grid-column-gap: 15px;
margin-bottom: 50px;
}
h2{
font-family: Aboreto, sans-serif;
font-size: 150%;
color: var(--stand-out-text);
padding: 20px 0px;
}
.quote{
font-family: "Cormorant Garamond";
font-size: 30px;
line-height: 1.5;
text-align: center;
margin: 20px 90px;
color: var(--accent-text)
}
#author{
opacity: 0.5;
font-size: 20px;
}
.journey-icon{
font-size: 50px;
display: inline-block;
margin: 0 auto;
color: var(--accent-text)
}
.td-icon{
width: 20%;
text-align: center;
padding-bottom: 10px;
}
.td-school{
width: 80%;
padding-bottom: 10px;
padding-left: 15px;
}
h4{
font-size: 110%;
padding-top: 5px;
font-family: Comfortaa, sans-serif;
color: var(--accent-text);
}
table{
width: 100%;
}


/*ABOUT ME*/

#photo-me{
width: 100%;
border-radius: 10px;
margin: 10px auto;
}

#about-me{
border: 3px solid var(--boxes);
border-radius: 10px;
padding: 10px;
color: var(--light-text);
background-color: var(--boxes);
opacity: 0.60;
text-align: center;
}

#about-me p{
font-family: Comfortaa;
color: var(--dark-text);
padding: 0;
}

#about-me h2{
color: var(--dark-text);
}

/*SKILL BANNER*/

#skill-banner{
background-color: var(--boxes);
width: 100%;
opacity: 0.60;
padding: 20px 0px;
border-radius: 10px;
}

.skill-icon{
font-size: 50px;
display: inline-block;
margin: 0 auto;
color: var(--dark-text)
}
.td-skill{
text-align: center;
padding-bottom: 10px;
color: var(--dark-text);
font-family: Comfortaa;
}
.td-skill-icon{
text-align: center;
width: 25%;
}

/*PROJECTS*/
#projects h2, .text-center{
text-align: center;
}
.project-gallery{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
}

.project-tile{
width: 30%;
height: 300px;
position: relative;
text-align: center;
color: var(--light-text);
font-family: Comfortaa;
}

.project-image{
border-radius: 15px;
width: 100%;
height: 90%;
object-fit: cover;
}

.project-name{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
visibility: hidden;
font-size: 150%;
}
.project-tile:hover img{
opacity: 50%;
transition: .3s linear;
}
.project-tile:hover div{
visibility: visible;
}

/*FOOTER*/

#contact-socials{
display: grid;
grid-template-columns: 3fr repeat(3, 1fr);
align-items: center;
position: relative;
bottom: 0px;
background-color: var(--header-footer);
width: 100vw;
z-index: 1;
padding-bottom: 50px;

}
#contact-socials p{
padding: 20px;
text-align: center;
font-family: Comfortaa;
}

footer a{
text-decoration: none;
color: var(--accent-text);
font-family: Comfortaa;
}
footer i{
    border: 1px solid var(--base-color);
    padding: 10px;
}

/* Media Queries */
@media only screen and (max-width: 850px){

main{
    margin-top: 180px
}
.main-grid {
    display: block;
    }
.project-tile{
width: 45%;
}
#navbar{
    display: block;
}
}

@media only screen and (max-width: 600px){
    .project-tile {
        width: 100%;
        }

}
